<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>



	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LL1cV2FXZ5I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<h5 class="card-title">Title of Video 1</h5>
						<p class="card-text">Description of Video 1</p>
						<span class="play-icon"><i class="fa fa-play-circle-o"></i></span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gI3pz7eFgfo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<h5 class="card-title">Title of Video 2</h5>
						<p class="card-text">Description of Video 2</p>
						<span class="play-icon"><i class="fa fa-play-circle-o"></i></span>
				


          </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dUXDuxqTxmo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<h5 class="card-title">Title of Video 3</h5>
						<p class="card-text">Description of Video 3</p>
						<span class="play-icon"><i class="fa fa-play-circle-o"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	

